<html>
<head>  
    <title> Post Detail </title>
</head>
<body>          
    <h1> {{ post.title }} </h1>  
    <p> {{ post.content }} </p>
    author: <a href="{% url 'profile' pk=post.author.pk %}">{{ post.author.username }}</a> <br>


    {% if post.author != user %}
        {% if post.author in users_friend %}
            <form action="{% url 'remove_friend' post.author.pk %}" method="post">
                {% csrf_token %}
                <button type="submit"> Remove Friend </button>
            </form>
        {% else %}
            <form action="{% url 'add_friend' post.author.pk %}" method="post">
                {% csrf_token %}
                <button type="submit"> Add Friend </button>
            </form>
        {% endif %}
    {% endif %}

    <p> Likes: {{ post.likes.count }} </p>
        {% if user in post.likes.all %}
            <form action="{% url 'like_post' post.pk %}" method="post">
                {% csrf_token %}
                <button style="background-color: red;" type="submit"> Unlike </button>
            </form>
        {% else %}
            <form action="{% url 'like_post' post.pk %}" method="post">
                {% csrf_token %}
                <button style="background-color: green;" type="submit"> Like </button>
            </form>
        {% endif %}
     <a href="{% url 'posts_list' %}"> Back to Post List </a>
</body>
</html>

